<html>
<head><title>>Awesome Logic application</title>
        <link rel="stylesheet" href="~/treant/Treant.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://unpkg.com/d3@3/d3.min.js"></script>
        <script src="https://unpkg.com/function-plot@1/dist/function-plot.js"></script>
</head>
<body>
<div class="formulaContainer">
        <form method="get" asp-action="Calculate" asp-controller="Home">
                <div class="form-group">
                        <label for="exampleInputEmail1">Formula</label>
                        <input autofocus type="text" value="@ViewData["input"]" name="formula" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter formula">
                        <small id="emailHelp" class="form-text text-muted">Please use ASCII format</small>
                </div>
                
                <div class="form-group">
                        <label for="exampleInputEmail1">Taylor polynoom around</label>
                        <input type="number" value="@(Model.Request.Request.Query["taylorAround"] ?? "1")" name="taylorAround" class="form-control" id="exampleInputEmail1" >
                </div>
                
                <div class="form-group">
                        <label for="exampleInputEmail1">Taylor polynoom N</label>
                        <input type="number" value="@(Model.Request.Request.Query["taylorN"] ?? "5")" name="taylorN" min="0" class="form-control" id="exampleInputEmail1" >
                </div>
                
                <div class="form-group">
                        <label for="exampleInputEmail1">Integral start</label>
                        <input type="number" value="@(Model.Request.Request.Query["startIntegral"] ?? "0")" name="startIntegral" min="0" class="form-control" id="exampleInputEmail1" >
                </div>
                
                <div class="form-group">
                        <label for="exampleInputEmail1">Integral End</label>
                        <input type="number" value="@(Model.Request.Request.Query["endIntegral"] ?? "1")" name="endIntegral" min="0" class="form-control" id="exampleInputEmail1" >
                </div>
                <div class="form-group">
                        <label for="exampleInputEmail1">Points</label>
                        <input autofocus type="text" value="@(Model.Request.Request.Query["points"] ?? "0,3 ; 5,5")" name="points" class="form-control" id="exampleInputEmail1" aria-describedby="pointsHelp" placeholder=" 0,3 ; 5,3">
                        <small id="pointsHelp" class="form-text text-muted">Please use format</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
@RenderBody()

<div class="formulaContainer">
        Proudly built by Carlo Theunissen
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Chart.min.js" asp-append-version="true"></script>
<script src="~/treant/vendor/raphael.js" asp-append-version="true"></script>
<script src="~/treant/Treant.js" asp-append-version="true"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
        crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
</script>


</body>
</html>
